/* You can add global styles to this file, and also import other style files */
input.ng-touched.ng-invalid{
    border-color: #dc3545;
}

input.ng-valid{
    border-color: #28a745;
}
.green-icon{
    color: #28a745;
}
.red-icon{
    color: #dc3545;
}
#toast-container > div {
    opacity:1;
}
table tr:hover{
    cursor: pointer;
}
a { cursor: pointer }
.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
    @include ag-theme-alpine();
}
